h2 {
    text-align: center;
    font-weight: 400;
    text-decoration: #7b0981 underline;
    letter-spacing: 15px;
    font-size: 40px;
    font-family: verdana;
}

button {
    color: rgb(255, 0, 187);
    background-color: rgb(19, 202, 138);
}